$f-serif: 'Playfair Display', serif;
$f-sans: 'Roboto Condensed', sans-serif;

$c-main: #333;
$c-orange: #fe9100;
$c-light-orange: #fcb936;
$c-dark-orange: #ed481c;
$c-red: #df2424;
$c-light-gray: #eee;
$c-white: #fff;
$c-gray: #999;